.app-add-form {
  margin-top: 30px;
  padding: 25px;
  background: url('https://kartinkin.net/uploads/posts/2021-07/1626781243_28-kartinkin-com-p-fon-chernii-grafit-krasivo-29.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 34px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.75);
  color: #ffd700;

  transition: all 0.7s ease;
}

.add-form {
  margin-top: 20px;
}

.add-form input {
  width: 350px;
  margin-right: 20px;
}

.app-add-form:hover {
  transform: scale(1.02);
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em blue, 0 0 0.2em;
}
