.list-group-item {
  padding: 15px 20px;
  border-bottom: 1px solid #ffd700;
  background-image: url('https://instapik.ru/wp-content/uploads/2020/08/black-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-left: none;
  border-right: none;
  font-weight: 700;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.55);
  transition: all 0.5s ease;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item span {
  color: #ffd700;
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
  min-width: 550px;
  transition: all 0.5s ease;
}

.list-group-item input {
  background-color: #ffd700;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  border: 0;
  font-weight: 700;
  transition: all 0.5s ease;
}

.list-group-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.list-group-item .btn-cookie {
  color: #e09f3e;
}

.list-group-item .btn-trash {
  color: #e5383b;
}

.list-group-item .fa-star {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #ffd700;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 0;
}

.list-group-item.like .fa-star {
  opacity: 1;
  transform: translateX(0px);
}

.list-group-item.increase .list-group-item-label {
  color: #1777f5;
}

.list-group-item.increase .list-group-item-input {
  background-color: #1777f5;
  color: #ffd700;
}

.list-group-item.increase .btn-star {
  color: #1777f5;
}

.fas {
  cursor: pointer;
}

.list-group-item:hover {
  transform: scale(1.05);
  z-index: 1000;
  outline: 1px solid #ffd700;
  text-transform: uppercase;
  border-radius: 20px;
}

.btn-cookie {
  background: #1777f5;
  outline: 1px solid #ffd700;
}
.btn-trash {
  background: #000;
  outline: 1px solid #ffd700;
}
